body {
  background: gray;
}
div{
  background: white;
}

h1 {
  font-size: 35px;
}

.byline1, .byline2, .byline3 {
  margin-top: 0;
  margin-bottom: 0;
}

.byline1 {
  font-weight: bold;
  font-size: 17px;
}

.byline2 {
  font-style: italic;
}

.right-column {
  font-size: 15px;
  width: 75%;
  float: left;
}

.left-column {
  width: 25%;
  float: left;
}
.caption{
  font-size: 10px;
  color: gray;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 30px;
  padding-right: 30px;
}
