* {box-sizing: border-box;
}

body {
  background: gray;
}
div{
  background: white;
}

h1 {
  font-size: 35px;
  font-style: italic; /* changes the text style to italic */
}

.byline1, .byline2, .byline3 {
  margin-top: 0;
  margin-bottom: 0;
}

.byline1 {
  font-weight: bold;
  font-size: 17px;
}

.byline2 {
  font-style: italic;
}

.byline3 {
}

@media screen and (min-width:500px) {
.right-column {
  font-size: 15px;
  width: 75%;
  float: left;
  padding-left: 30px;
  border-left: dotted; /* adds a border between columns */
}

.left-column {
  width: 25%;
  float: left;
  padding-right: 30px;
    border-bottom: dotted;
}
}

.caption{
  font-size: 10px;
  color: gray;
  margin-top: 0px; /* removes space between image and caption */
  padding-top:0px; /* removes space between image and caption */
}

img {
  margin-bottom: 0px; /* removes space between image and caption */
  padding-top: 0px; /* removes space between image and caption */
  max-width: 100%; /* fixes image spillover */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 30px;
  padding-right: 30px;
  font-family: helvetica, sans-serif; /* changes story font */
  box-shadow: 10px 10px; /* adds shadow to container */
}

h2{
  font-size: 17px; /* makes h2 bigger */
  font-weight: bold; /* makes h2 bold */
}
